<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
    <!-- <typeAliases>태그를 통해 VO클래스 등록. 등록한 이름을 SQL.xml에서 사용. -->
    <configuration>
 		
 		<!-- SQL에서 사용할 별칭 -->
 		<typeAliases>
	        <typeAlias type="java.lang.Integer" alias="Int"/>
		   	<typeAlias type="java.lang.String" alias="String"/>
	   		<!-- <typeAlias type="com.project.myver.util.PageUtil" alias="PageUtil"/>  -->
	   		<typeAlias type="com.project.myver.dto.MemberDTO" alias="memDTO"/>
   		</typeAliases>
   		
   		<!-- SQL 설정 
   		<mappers>
	   		<mapper resource="/com/project/myver/sql/memberSQL.xml"/>
   		</mappers>
  		-->
    </configuration>

