<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    
    <!-- <typeAliases>태그를 통해 DTO클래스 등록. -->
    <configuration>
 		
 		<!-- SQL에서 사용할 별칭 -->
 		<typeAliases>
	        <typeAlias type="java.lang.Integer" alias="Integer"/>
		   	<typeAlias type="java.lang.String" alias="String"/>
		   	<typeAlias type="java.lang.Double" alias="Double"/>
	   		<!-- <typeAlias type="com.project.myver.util.PageUtil" alias="PageUtil"/>  -->
	   		<typeAlias type="com.project.myver.dto.MemberDTO" alias="memDTO"/>
	   		<typeAlias type="com.project.myver.dto.MemoDTO" alias="memoDTO"/>
	   		<typeAlias type="com.project.myver.dto.FileDTO" alias="fileDTO"/>
	   		<typeAlias type="com.project.myver.dto.BlogDTO" alias="blogDTO"/>
	   		<typeAlias type="com.project.myver.dto.ImageDTO" alias="imgDTO"/>
   		</typeAliases>
  		
    </configuration>

